@import url('./vendor/fonts.scss');
@import url('./vendor/normalize.scss');

body {
  font-family: 'Kumbh Sans';
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
